body {
  font-family: Arial, sans-serif;
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  background-color: #f0f9ff;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input,
button {
  padding: 12px;
  font-size: 16px;
}

button {
  cursor: pointer;
  background-color: #43e45e;
  color: rgb(121, 92, 92);
  border: none;
}